.light{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  border: 1px solid black;
}

.lightStatus{
  font-size: 2em;
}

.btn {
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  width: 200px;
  height: 50px;
  opacity: .7;
  cursor: pointer;
  font-family: Arial, Helvetica, Helvetica Neue;
}

.btn:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
