@font-face {
  font-family: 'MaterialIcons';
  src: url('./material-design-icons/iconfont/MaterialIcons-Regular.eot');
  src: url('./material-design-icons/iconfont/MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
       url('./material-design-icons/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
       url('./material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff'),
       url('./material-design-icons/iconfont/MaterialIcons-Regular.ttf') format('truetype'),
       url('./material-design-icons/iconfont/MaterialIcons-Regular.svg#MaterialIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}